<ion-view view-title="Phone Orientation">
    <ion-content>
        <div align="center">
            <ion-list>
                <ion-item>
                <h1>{{output}}</h1>
                </ion-item>
            	<ion-item>
            	<h6>Z+ proper acceleration: {{coords.z}} m/s^2</h6>
            	</ion-item
            </ion-list>
         </div>
            <label class="item item-input">
                <span class="input-label">Threshold</span>
                <input ng-change="changedThreshold(threshold)" ng-model="threshold" type="number">
            </label>

    </ion-content>
</ion-view>